<h3>Корзина</h3>
<!--<table border="1">-->
    <!--<tr>-->
        <!--<th style="margin: 15px;">Option</th>-->
        <!--<th style="margin: 15px;">Id</th>-->
        <!--<th style="margin: 15px;">Name</th>-->
        <!--<th style="margin: 15px;">Photo</th>-->
        <!--<th style="margin: 15px;">Price</th>-->
    <!--</tr>-->
    <!--<tr *ngFor="let item of items">-->
        <!--<td align="center" style="margin: 15px;">-->
            <!--<a (click)="remove(item.product.id)">X</a>-->
        <!--</td>-->
        <!--<td style="margin: 15px;">{{item.product.id}}</td>-->
        <!--<td style="margin: 15px;">{{item.product.title}}</td>-->
        <!--<td style="margin: 15px;">-->
            <!--<img src="{{item.product.image}}" width="70">-->
        <!--</td>-->
        <!--<td style="margin: 15px;">{{item.product.price}}</td>-->
    <!--</tr>-->
<!--</table>-->

<div class="row hoverList" style="margin-bottom: 10px;" *ngFor="let item of items">
    <div class="col-1">
        <button style="margin-top: 10px;" class="button3" (click)="remove(item.product.id)">Delete</button>
    </div>
    <div class="col-1">
        <img style="width: 75px; height: 50px;" src="{{item.product.image}}" alt="{{item.product.title}}">
    </div>
    <div class="col-3">
        <h3>
            <a [title]="item.product.title">
                {{ item.product.title }}
            </a>
        </h3>
    </div>
    <div class="col-2">
        <p *ngIf="item.product.description">
            {{ item.product.description }}
        </p>
    </div>
    <div class="col-2">
        <p *ngIf="item.product.price">
            {{ item.product.price }}$
        </p>
    </div>
</div>